* {
  box-sizing: border-box;
}


.italic {
  font-style: italic;
}

.emoji-presentation {
  font-variant-emoji: emoji;
  font-family: 'Times New Roman', Times, serif;
}

a {
  text-decoration: none;
}


.clear {
  clear: left;
}

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.top-wrapper {
  padding: 120px 0 50px 0;
  background-image: url(./backgrounds/sky.png);
  background-size: cover;
  color: white;
  text-align: center;
}

.profile-pic {
  width: 300px;
  height: 300px;
  padding-left: 10px;
  float: left;
}

.resized-image {
  width: 300px;
  height: 300px;
  margin-bottom: 50px;
  padding-left: 10px;
}

.resized-image2 {
  width: 210px;
  height: 300px;
  margin-bottom: 50px;
  padding-left: 10px;
}

.top-wrapper h1 {
  opacity: 0.7;
  font-size: 45px;
  letter-spacing: 5px;
  margin-bottom: 10px;
}

.top-wrapper p {
  opacity: 0.7;
  margin-bottom: 3px;
}

.signup {
  background-color: #239b76;
}

.facebook {
  background-color: #3b5998;
  margin-right: 10px;
}

.twitter {
  background-color: #55acee;
}

.github {
  background-color: #55acee;
}

.btn {
  padding: 25px 24px;
  color: white;
  display: inline-block;
  opacity: 0.7;
  border-radius: 4px;
  text-align: center;

  transition: opacity 0.5s ease, transform 0.5s ease, background-color 0.5s ease, color 0.5s ease;
}

.btn-wrapper {
  text-align: center;
  margin: 20px 0;
}

.btn:hover {
  opacity: 1;
  transform: translateY(-10px);
  background-color: var(--clr-background);
  color: var(--clr-light);
  border-radius: 4px;
}

.fa {
  margin-right: 5px;
}

header {
  height: 65px;
  width: 100%;
  background-color: white;
  position :fixed;
  top: 0;
  z-index: 10;
  font-family: 'Times New Roman', Times, serif';
}

.logo {
  width: 70px;
  margin-top: 20px;
}

.header-left {
  float: left;
}

.header-right {
  float: right;
  margin-right: -25px;
}

.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: #5f5d60;
  display: block;
  float: left;
  transition: all 0.5s;
  border-left: .5px solid #5f5d60;
  border-right: .5px solid #5f5d60;
  font-family: 'Times New Roman', Times, serif';
}

.header-right a:hover {
  background-color: pink;
  color: white;
}

.header-right a:not(:last-child) {
  border-right: none;
}

.header-right a.active {
  background-color: #ccc;
  color: white;
}

.menu-icon{
  color: #5f5d60;
  float: right;
  font-size: 25px;
  padding: 21px 0;
  display: none;
}

.general-wrapper {
  padding-bottom: 80px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #f7f7f7;
  text-align: center;
}

.heading {
  padding-top: 80px;
  padding-bottom: 10px;
  color: #5f5d60;
  font-family: 'Times New Roman', Times, serif;
  font-weight: normal;
}

.heading h2 {
  font-weight: normal;
  font-family:'Times New Roman', Times, serif;
}


/* Animations */

@keyframes slideLeft{
  from {
    transform: translateX(-300px);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes typing {
  0%, 50% {
    width: 0; /* Start with zero width */
    margin: auto; /* Center the text */
  }
  51%, 100% {
    width: 50%; /* Set width to 50% at 100% completion */
    margin: auto; /* Center the text */
  }
}

@keyframes blink-caret {
  0%, 50% {
    width: 0; /* Start with zero width */
  }
  51%, 100% {
    width: 1em; /* Set width to create a visible cursor */
  }
}

.typewriter {
  padding-top: 80px;
  padding-bottom: 50px;
  color: #5f5d60;
  font-family: 'Times New Roman', Times, serif;
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  height: auto;
  animation: typing 20s steps(70, end) forwards;
}

.typing-text::before {
  content: '_'; /* Use any character you prefer for the cursor */
  display: inline-block;
  width: 0; /* Start with zero width */
  white-space: nowrap; /* Prevent the cursor from wrapping */
  animation: blink-caret 0.5s step-end infinite; /* Blinking animation */
}

.slide {
  animation: slideLeft 1s ease-in 1s;
}

/* Contact Form */
form {
  display: grid;
  grid-gap: 20px;
  text-align: justify;
}

label {
  font-weight: normal;
}

input, textarea {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

button {
  background-color: #b3aeb5;
  color: #fff;
  padding: 10px 15px;
  border: .5px solid #000;
  font-family: 'Times New Roman', Times, serif;

  transition: background-color 0.3s ease, color 0.3s ease;
}

button:hover {
  background-color: #2c3e50;
  color: #fff;
  border-color: #fff;
}


.title {
  padding-top: 80px;
  padding-bottom: 50px;
  color: #5f5d60;
  font-weight: normal;
  font-size: 45px;
  letter-spacing: 5px;
  font-family: 'Times New Roman', Times, serif;
}

.lesson {
  float: left;
  width: 25%;
}

.lesson-icon {
  position: relative;
}

.lesson-icon p {
  position: absolute;
  top: 44%;
  width: 100%;
  color: white;
}

.text-contents {
  width: 50%;
  display: inline-block;
  margin-top: 0px;
  font-size: 20px;
  color: #b3aeb5;
  margin-bottom: 50px;
  font-family: 'Times New Roman', Times, serif;
}

.heading h3 {
  font-weight: normal;
  font-family: 'Times New Roman', Times, serif;
  color: #b3aeb5;
}

.message-wrapper {
  border-bottom: 1px solid #eee;
  padding-bottom: 80px;
  text-align: center;
}

.message a {
  padding: 15px 40px;
  background-color: #89c7df;
  color: white;
  cursor: pointer;
  border: .5px solid #5f5d60;
  font-family: 'Times New Roman', Times, serif';
}

.message:active {
  position: relative;
  top: 7px;
  box-shadow: none;
}

footer img {
  width: 125px;
}

footer p {
  color: #b3aeb5;
  font-size: 12px;
}

footer {
  padding-top: 30px;
  padding-bottom: 20px;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');
body {
  background-color:white;
  font-family:'Times New Roman', Times, serif;
  padding: 0;
  margin: 0;
}

section {
  display: grid;
  place-items: center;
  align-content: center;
  min-height: 100vh;
}

.hidden {
  opacity: 0;
  transition: all 1s;
  filter: blue(5px);
  transform: translateX(-100%);
  transition: all 1s;
}

@media(prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
}

.show {
  opacity: 1;
  filter: blue(0);
  transform: translateX(0);
}

.item {
  display: flex;
}

.item:nth-child(2) {
  transition-delay: 200ms;
}

.item:nth-child(3) {
  transition-delay: 400ms;
}

.item:nth-child(4) {
  transition-delay: 600ms;
}

/* Photo Gallery */

.container2 {
  max-width: 1200px;
  width: 95%;
}

.slider-wrapper {
  position: relative;
}

.slide-button {
  background-color: #3498db;
  color: #ffffff;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.slider-wrapper .slide-button {
  position: absolute;
  top: 50%;
  height: 50px;
  width: 50px;
  color: #fff;
  background: #000;
  font-size: 2.2rem;
  cursor: pointer;
  border-radius: 50%;
  transform: translateY(-50%);
}

.slider-wrapper .slide-button:hover {
  background: #5f5d60;

}

.slider-wrapper .slide-button #prev-slide {
  left: -20px;
  display: none;

}

.slider-wrapper .slide-button #next-slide {
  right: -20px;
  display: none;
}

.gallery {
  max-width: 1200px;
}

.image-list {
  display: flex;
  overflow-x: auto;
}

.slider-wrapper .image-list {
  display: grid;
  gap: 18px;
  margin-bottom: 30px;
  overflow-x: auto;
  scrollbar-width: none;
  grid-template-columns: repeat(10, 1fr);
}


.slider-wrapper .image-list .resized-image {
  width: 200px;
  height: 300px;
  object-fit: cover;
}

.container2 .slider-scrollbar {
  height: 24px;
  width: 100%;
  background: grey;
  display: flex;
  align-items: center;
}

.slider-scrollbar .scrollbar-track {
  height: 2px;
  width: 100%;
  background: #ccc;
  position: relative;
  border-radius: 4px;
}

.slider-scrollbar::hover .scrollbar-track {
  height: 4px;

}

.slider-scrollbar .scrollbar-thumb {
  position: absolute;
  height: 100%;
  width: 50%;
  background: #000;
  border-radius: inherit;
  cursor: grab;
}

.slider-scrollbar .scrollbar-track::active {
  cursor: grabbing;
  height: 8px;
  top: -2px;
}

.slider-scrollbar .scrollbar-thumb::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -10px;
  bottom: -10px;
}